.classInfo {
    font-size: 20px;
    color: #005670;
    background-color: #ffffff;
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 500;
}