  
 
      .dropdown-item select {
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
      }

      #class {
        margin-right: 51px;
      }

      #date {
        margin-right: 51px;
      }
   