.editform{
    display: flex;
    align-items: center;
  }

  .editform form {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  
  .editform form 
  input {
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
  }

 @media screen and (max-width: 768px) {
.editform{
  flex-wrap: wrap;
  justify-content: center;
}

  .editform form {
    flex-direction: column;
  }
  .editform form input {
    width: 80%;
  }
  .editform form button {
    width: 80%;
    margin: 5px 0;
  }
}